.profile__hobby {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 569px) {
  .profile__hobby {
    font-size: 14px;
  }
}

@media screen and (max-width: 569px) {
  .profile__hobby {
    margin-left: 30px;
  }
}