.form__save-btn {
  width: 358px;
  height: 50px;
  padding: 14px 0 19px 0;
  margin: 48px 0 30px 0;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 2px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  opacity: 1;
  pointer-events: all;

}

.form__save-btn:hover {
  opacity: 0.8;
}

.form__save-btn:focus {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .form__save-btn {
    width: 200px;
    margin: 30px 0 20px 0;
  }
}

@media screen and (max-height: 450px) {
  .form__save-btn {
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 0;
  }
}